body {
    max-width: 1200px;
}

.flex-container {

    display: flex;
    flex-direction: column;
}

.caja {
    border: 10px solid #000000;
    margin: 5px;
    display:flexbox;
}

.cajon1 {
    background-color: #a3caff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2%;
}

.c1-inside {
    background-color: #ee4866;
    height: 12px;
    width: 18%;
}

.c11-inside {
    background-color: #ee4866;
    height: 12px;
    width: 60%;

}

.cajon2 {
    background-color: #ff9646;
    border-top: 5px solid #000000;
    padding: 2%;
}


.c2-inside {
    background-color: #f7f773;
    height: 12px;
    width: 100%;
}

#caja2 { 
    display: flex;
    height: 70px;
    background-color: #fc849a;

}

.cajon3 { 
    background-color: #afffda;
    width: 70%;
    border-right: 10px solid #000000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.c3-inside{
    background-color: #e484fc;
    height: 12px;
    width: 45%;
    margin: 10px 5px;
}
.c31-inside{
    background-color: #e484fc;
    height: 12px;
    width: 45%;
    margin: -10px 5px;
}

.c32-inside {
    background-color: rgb(97, 83, 255);
    height: 12px;
    width: 95%;
}

.cajon4 {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
}
.c4-inside {
    background-color: #f7f773;
    height: 12px;
    width: 100%;
    margin: 10px 10px;
}
.c41-inside {
    background-color:#f7f773;
    height: 12px;
    width: 100%;
    margin: -25px 10px; 
}
.cajon5 {
    background-color: #ffe341;
    height: 15px;
}